/* Global */
body {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

body, p {
    font-family: "Segoe UI Light","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
}

/* Splashscreen */
.coreui-splashscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2e80ab;
    z-index: 1000;
}

.loaded .coreui-splashscreen {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 1s, opacity 0.5s ease-out;
    transition: visibility 1s, opacity 0.5s ease-out;
}

.coreui-splashscreen-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.coreui-splashscreen-logo > svg {
    fill: #fff !important;
}

/* Themes */
.coreui-theme-blue {
    background-color: #2e80ab;
}

.coreui-theme-blue .coreui-topbar {
    background-color: #202428;
    color: #fff;
}

.coreui-theme-blue .coreui-sidebar {
    background-color: #282d32;
    color: #fff;
    border-color: #3d4247;
}

/* Portal */
.coreui-portal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.coreui-portal-main {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    height: calc(100% - 40px);
    xbackground-color: red;
}

.coreui-portal-content {
    xbackground-color: lawngreen;
    flex: 1 1 auto;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
}

/* Topbar */
.coreui-topbar {
    height: 40px;
    display: flex;
    align-content: center;
    align-items: center;
}

.coreui-topbar-title {
    xbackground-color: lawngreen;
    flex: 0 0 auto;
    height: 100%;
    line-height: 40px;
    font-size: 20px;
    margin-left: 13px;
    padding: 0 7px;
    color: #00bcf2;
    font-weight: bold;
}

.coreui-topbar-breadcrumb {
    xbackground-color: yellow;
    flex: 1 1 auto;
    height: 100%;
    line-height: 40px;
}

.coreui-topbar-user {
    xbackground-color: red;
    flex: 0 0 auto;
    height: 100%;
    line-height: 40px;
    font-size: 13px;
    margin-right: 13px;
}

.coreui-topbar-user > i {
    padding-left: 7px;
    xopacity: 0.5;
}

/* Sidebar */
.coreui-sidebar {
    border-right: 1px solid;
    font-size: 12px;
    xmin-width: 60px;
}

.coreui-sidebar-is-collapsed .coreui-sidebar-bar {
    width: 60px;
    transition: 0.5s;
}

.coreui-sidebar-bar {
    width: 225px;
    transition: 0.5s;
}

.coreui-sidebar button {
    background-color: transparent;
    color: #fff;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    height: 39px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.coreui-sidebar button:hover {
    background-color: #3d4247;
}

.coreui-sidebar-collapse-button {
    border-bottom: 1px solid #3d4247 !important;
}

.coreui-sidebar-favourites {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

.coreui-sidebar-favourites li {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    height: 38px;
}

.coreui-sidebar-favourites a {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    height: 38px;
    width: 100%;
    color: inherit;
    text-decoration: none;
}

.coreui-sidebar-favourites a:hover {
    background-color: #3d4247;
}

.coreui-sidebar-icon {
    padding-left: 20px;
}

.coreui-sidebar-is-collapsed .coreui-sidebar-label {
    display: none;
}

.coreui-sidebar-label {
    padding-left: 15px;
    white-space: nowrap;
}

/* Blade */
.coreui-blade-layout {
    xbackground-color: yellow;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.blade {
    background-color: #fff;
    position: relative;
    height: 100%;
    flex: 0 0 auto;
    border-right: 1px solid #3d4247 !important;
    display: flex;
    flex-direction: column;
}

.blade-size-small {
    width: 315px;
}

.blade-size-medium {
    width: 587px;
}

.blade-size-large {
    width: 855px;
}

.blade-size-xlarge {
    width: 1125px;
}

.blade-size-maximised {
    xwidth: calc(100% - 1px);
    flex: 1 1 auto;
}

.blade-header {
    background-color: #282d32;
    color: #fff;
    min-height: 77px;
    position: relative;
}

.blade-header-title {
    padding: 0 20px;
    position: absolute;
    top: 5px;
    width: calc(100% - 40px);
}

.blade-header .blade-header-title h2,
.blade-header .blade-header-title h3 {
    float: left;
    clear: both;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
}

.blade-header .blade-header-title h2 {
    font-family: "Segoe UI Light","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    font-size: 18px;
    max-width: calc(100% - 20px);
}

.blade-header .blade-header-title h3 {
    font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    font-size: 10px;
    opacity: 0.5;
    max-width: calc(100% - 40px);
}

.blade-actions {
    height: 30px;
    position: absolute;
    right: 3px;
    top: 3px;
}

.blade-actions button {
    border: 0;
    padding: 0;
    background-color: transparent;
    color: #fff;
    opacity: 0.5;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: opacity .2s ease-out;
    font-size: 12px;
}

.blade-actions button:hover {
    opacity: 1;
}

.blade-commands {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: calc(100% - 20px);
    padding: 0 10px;
    display: flex;
}

.blade-commands button {
    border: 0;
    padding: 0 10px;
    background-color: transparent;
    color: #fff;
    height: 30px;
    cursor: pointer;
    font-size: 12px;
}

.blade-commands button:hover {
    background-color: #3d4247;
}

.blade-content-wrapper {
    padding: 0 20px;
    font-family: "Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    font-size: 12px;
    xheight: calc(100% - 80px); /* There has to be a better way to do this...*/
    xheight: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    xbox-sizing: border-box;
    xbackground-color: yellow;
}

.blade-content {
}

.coreui-blade-list {
    margin: 12px -20px 12px -20px;
    padding: 0;
    list-style: none;
}

.coreui-blade-list li:first-of-type {
    border-top: 1px solid #e5e5e5;
}

.coreui-blade-list li {
    border-bottom: 1px solid #e5e5e5;
    height: 40px;
    display: flex;
    align-items: center;
}

.coreui-blade-list li a {
    text-decoration: none;
    color: inherit;
    flex: 1 1 auto;
    line-height: 40px;
    padding: 0 0 0 20px;
    display: flex;
    align-items: center;
}

.coreui-blade-list li a span {
    flex: 1 1 auto;
}

.coreui-blade-list li a i {
    padding: 0 10px 0 0;
}

.coreui-blade-list li:hover {
    background-color: #e5e5e5;
}

.coreui-blade-list li i.favourite {
    margin: 0 20px 0 20px;
    cursor: pointer;
}

.coreui-blade-list li i.favourite:hover {
    color: #2e80ab;
}

.coreui-blade-list li i.navigate {
    margin: 0 20px 0 20px;
    padding: 0;
}