body {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.journey-layout {
    background-color: #2e80ab;
    xposition: absolute;
    xtop: 0;
    xleft: 0;
    height: 100%;
    xwidth: 100%;
    display: flex;
}

.blade {
    background-color: #fff;
    position: relative;
    height: 100%;
    box-shadow: 0px 0px 5px rgba(108,115,122,0.5);
    flex: 0 0 auto;
}

.blade-size-small {
    width: 315px;
}

.blade-size-medium {
    width: 587px;
}

.blade-size-large {
    width: 855px;
}

.blade-size-xlarge {
    width: 1125px;
}

.blade-header {
    background-color: #282d32;
    color: #fff;
    min-height: 77px;
    position: relative;
}

.blade-header-title {
    padding: 0 20px;
    position: absolute;
    top: 5px;
    width: calc(100% - 40px);
}

.blade-header .blade-header-title h2,
.blade-header .blade-header-title h3 {
    float: left;
    clear: both;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blade-header .blade-header-title h2 {
    font-family: "Segoe UI Light","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    font-size: 18px;
    max-width: calc(100% - 20px);
}

.blade-header .blade-header-title h3 {
    font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    font-size: 10px;
    opacity: 0.5;
    max-width: calc(100% - 40px);
}

.blade-actions {
    height: 30px;
    position: absolute;
    right: 3px;
    top: 3px;
}

.blade-actions button {
    border: 0;
    padding: 0;
    background-color: transparent;
    color: #fff;
    opacity: 0.5;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: opacity .2s ease-out;
    font-size: 12px;
}

.blade-actions button:hover {
    opacity: 1;
}

.blade-commands {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: calc(100% - 20px);
    padding: 0 10px;
    display: flex;
}

.blade-commands button {
    border: 0;
    padding: 0 10px;
    background-color: transparent;
    color: #fff;
    height: 30px;
    cursor: pointer;
    font-size: 12px;
}

.blade-commands button:hover {
    background-color: #3d4247;
}

.blade-content-wrapper {
    padding: 0 20px;
    font-family: "Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    font-size: 12px;
    height: calc(100% - 80px); /* There has to be a better way to do this...*/
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

.blade-content {
}